@import "tailwindcss";
@import "../css/styles.css";




.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
	background: #F5F5F5CC;
}

.bg-flag-img {
	background-image: url('../public/assets/image/bgFlags.png');
	/* Замените путь на ваш */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}